.heading__primary {
    padding-bottom: 1rem;
    color: rgb(223, 223, 223);
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: 1.5px;
}

.heading__sutle {
    margin-bottom: .4rem;
    letter-spacing: 1.5px;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    display: block;
}

.heading__job {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 3rem;
    letter-spacing: 1.5px;
}